# Dependency folders
node_modules/
**/node_modules/
.pnpm-store

# Package outputs
packages/grigson/dist/
packages/grigson-text-renderer/dist/
packages/grigson-svg-renderer/dist/
packages/language-server/dist/
packages/vscode-extension/dist/
packages/website/_site/
packages/font-explorer/_data/fonts/
packages/font-explorer/_site/

# Generated parser files in the grigson package
packages/grigson/src/parser/generated.js
packages/grigson/src/parser/generated.d.ts

# Tree-sitter build artifacts
packages/tree-sitter-grammar/*.dylib
packages/tree-sitter-grammar/*.so

# Turborepo
.turbo/
**/.turbo/

# Misc
.vscode/grigson.code-workspace
.DS_Store
